apiVersion: v1
kind: Service
metadata:
  name: jaeger-external
  namespace: spiffe-demo
  labels:
    app: jaeger
spec:
  type: NodePort
  selector:
    app: jaeger
  ports:
    - port: 16686
      targetPort: 16686
      nodePort: 30686
      name: ui
