apiVersion: v1
kind: Service
metadata:
  name: keycloak-external
  namespace: spiffe-demo
  labels:
    app: keycloak
spec:
  type: NodePort
  selector:
    app: keycloak
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30180
    name: http
