kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: spiffe-demo
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8080
        protocol: TCP
      - containerPort: 30082
        hostPort: 8082
        protocol: TCP
      - containerPort: 30083
        hostPort: 8083
        protocol: TCP
      - containerPort: 30084
        hostPort: 8084
        protocol: TCP
      - containerPort: 30085
        hostPort: 8085
        protocol: TCP
      - containerPort: 30180
        hostPort: 8180
        protocol: TCP
  - role: worker
  - role: worker
