apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: spiffe-demo-openshift

# Build on top of the ghcr overlay
resources:
  - ../ghcr
  - route.yaml

patches:
  # OpenShift requires privileged pod security level for CSI driver inline volumes
  - target:
      kind: Namespace
      name: spiffe-demo
    patch: |-
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1enforce
        value: privileged
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1audit
        value: privileged
      - op: add
        path: /metadata/labels/pod-security.kubernetes.io~1warn
        value: privileged

  # Set SELinux context on containers to access CSI-mounted sockets
  # See: https://github.com/spiffe/spiffe-csi/issues/54
  # Using spc_t (super privileged container) type to bypass SELinux restrictions
  - target:
      kind: Deployment
      name: opa-service
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value:
          seLinuxOptions:
            type: spc_t

  - target:
      kind: Deployment
      name: document-service
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value:
          seLinuxOptions:
            type: spc_t

  - target:
      kind: Deployment
      name: user-service
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value:
          seLinuxOptions:
            type: spc_t

  - target:
      kind: Deployment
      name: agent-service
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value:
          seLinuxOptions:
            type: spc_t

  - target:
      kind: Deployment
      name: web-dashboard
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value:
          seLinuxOptions:
            type: spc_t
