apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: keycloak
  namespace: spiffe-demo
spec:
  to:
    kind: Service
    name: keycloak
    weight: 100
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
