apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: spiffe-demo-authbridge

# Build on top of the local overlay (SPIFFE CSI driver + Keycloak)
resources:
  - ../local
  - authbridge-configmaps.yaml
  - authbridge-secrets.yaml

patches:
  - path: agent-service-authbridge-patch.yaml
  - path: document-service-jwt-patch.yaml
  - path: dashboard-authbridge-patch.yaml
  - path: user-service-authbridge-patch.yaml
  - path: keycloak-hostname-patch.yaml
